streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-weaviate
sentence-transformers
weaviate-client
gTTS
pygame
PyAudio
openai-whisper
pypdf
python-dotenv
transformers
torch
