streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-weaviate
sentence-transformers
weaviate-client
pygame
openai-whisper
pypdf
python-dotenv
transformers
torch
streamlit
langchain
pypdf
sentence-transformers
weaviate-client
langchain-google-genai
python-dotenv
gtts
pygame
pyaudio
whisper-cpp-python
